{% macro avatar(user, size='sm', anonymous=False) %}
{%- if anonymous -%}
  <span class="avatar avatar--{{ size }}" aria-hidden="true">?</span>
{%- elif user.has_avatar() -%}
  <span class="avatar avatar--{{ size }}" style="background-image:url('{{ url_for('main.avatar', user_id=user.id) }}')"></span>
{%- elif user.avatar_url -%}
  <span class="avatar avatar--{{ size }}" style="background-image:url('{{ user.avatar_url }}')"></span>
{%- else -%}
  <span class="avatar avatar--{{ size }}">{{ user.initials() }}</span>
{%- endif -%}
{% endmacro %}

{# Author name — links to the public profile only when NOT anonymous #}
{% macro author_name(user, anonymous=False) %}
{%- if anonymous -%}Anonymous
{%- else -%}<a class="author-link" href="{{ url_for('main.profile', user_id=user.id) }}">{{ user.public_name() }}</a>
{%- endif -%}
{% endmacro %}
